<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 class="app-title">
    {{title}}
  </h1>
  <header>
    <ul class="header-nav">
      <li class="nav-item">
        <a class="nav-link" href="#dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#heros">Heros</a>
      </li>
    </ul>
  </header>
  <div id="section_top_heros" class="section top-heros">
    <app-top-heroes *ngFor="let item of topHeros; index as i"></app-top-heroes>
  </div>
  <div id="section_hero_editor" class="section hero-editor">
    <app-myheroes></app-myheroes>
  </div>
  <div id="section_hero_list" class="section hero-list">
    <h2>My Heros</h2>
    <app-editheroes *ngFor="let item of heroList; index as i"></app-editheroes>
  </div>
</div>
